USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 11/19/2017 4:32:35 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_shop.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_shop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBaoHanh] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
	[MaNhanVien] [varchar](10) NULL,
	[NgayBaoHanh] [date] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_BaoHanh] PRIMARY KEY CLUSTERED 
(
	[MaBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietBaoHanh]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietBaoHanh](
	[MaBaoHanh] [varchar](10) NOT NULL,
	[MaSerial] [varchar](10) NOT NULL,
	[NgayHenTra] [date] NULL,
	[TinhTrang] [int] NULL,
	[MoTaLoi] [nvarchar](max) NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [PK_ChiTietBaoHanh] PRIMARY KEY CLUSTERED 
(
	[MaBaoHanh] ASC,
	[MaSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPhieuNhap] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[MaPhieuXuat] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHangSanXuat] [varchar](10) NOT NULL,
	[TenHangSanXuat] [nvarchar](50) NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHangSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[CMND] [varchar](15) NULL,
	[SoDT] [varchar](15) NULL,
	[DiaChi] [ntext] NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [varchar](10) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [varchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
	[DiaChi] [ntext] NULL,
	[SoDT] [varchar](20) NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[HinhDaiDien] [text] NULL,
	[DiaChi] [ntext] NULL,
	[CMND] [varchar](15) NULL,
	[SoDT] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Quyen] [int] NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [varchar](10) NOT NULL,
	[MaNhaCungCap] [varchar](10) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TienNo] [decimal](18, 0) NULL,
	[ChietKhau] [float] NULL,
	[Thue] [float] NULL,
	[NgayLap] [date] NULL,
	[NhanVienLap] [varchar](10) NULL,
	[GhiChu] [ntext] NULL,
	[TinhTrang] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPhieuXuat] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[ChietKhau] [float] NULL,
	[Thue] [float] NULL,
	[NgayLap] [date] NULL,
	[NhanVienLap] [varchar](10) NULL,
	[GhiChu] [ntext] NULL,
	[Loai] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[Hinh] [text] NULL,
	[GiaMua] [decimal](18, 0) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[KhuyenMai] [decimal](18, 0) NULL,
	[MoTa] [ntext] NULL,
	[BaoHanh] [int] NULL,
	[SoLuong] [int] NULL,
	[DonViTinh] [nvarchar](15) NULL,
	[MaLoaiSanPham] [varchar](10) NULL,
	[MaHangSanXuat] [varchar](10) NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Serial]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Serial](
	[MaSerial] [varchar](10) NOT NULL,
	[SoSerial] [varchar](50) NULL,
	[ThoiHanBaoHanh] [date] NULL,
	[MaSanPham] [varchar](10) NULL,
	[GhiChu] [ntext] NULL,
	[MaPhieuXuat] [varchar](10) NULL,
	[MaPhieuNhap] [varchar](10) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_MaSeri] PRIMARY KEY CLUSTERED 
(
	[MaSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThuChi]    Script Date: 11/19/2017 4:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThuChi](
	[MaPhieu] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[NguoiNopNhan] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[SoTien] [decimal](18, 0) NULL,
	[GhiChu] [ntext] NULL,
	[LoaiPhieu] [int] NULL,
	[Ngay] [date] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_ThuChi] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [MaSanPham], [SoLuong], [Gia]) VALUES (N'PN1', N'SP1', 5, 15000000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [MaSanPham], [SoLuong], [Gia]) VALUES (N'PN1', N'SP2', 5, 16000000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [MaSanPham], [SoLuong], [Gia]) VALUES (N'PN1', N'SP3', 5, 2500000)
INSERT [dbo].[ChiTietPhieuXuat] ([MaPhieuXuat], [MaSanPham], [SoLuong], [Gia]) VALUES (N'PX1', N'SP2', 1, 17000000)
INSERT [dbo].[ChiTietPhieuXuat] ([MaPhieuXuat], [MaSanPham], [SoLuong], [Gia]) VALUES (N'PX2', N'SP1', 4, 16000000)
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat], [GhiChu], [TrangThai]) VALUES (N'HSX1', N'ASUS', NULL, 1)
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat], [GhiChu], [TrangThai]) VALUES (N'HSX2', N'INTEL', NULL, 1)
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat], [GhiChu], [TrangThai]) VALUES (N'HSX3', N'GIGABYTE', NULL, 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [CMND], [SoDT], [DiaChi], [GhiChu], [TrangThai]) VALUES (N'KH1', N'Nguyễn Văn Bách', N' ', N'019563587', N'Gò Vấp', NULL, 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [CMND], [SoDT], [DiaChi], [GhiChu], [TrangThai]) VALUES (N'KH2', N'Nguyễn Văn B', N' ', N'01234574585', N'Mũi Né', NULL, 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [CMND], [SoDT], [DiaChi], [GhiChu], [TrangThai]) VALUES (N'KH3', N'A. Thắng', N' ', N'0123458333', N'Trung Quốc', NULL, 1)
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [GhiChu], [TrangThai]) VALUES (N'LSP1', N'VGA', N'Card màn hình', 1)
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [GhiChu], [TrangThai]) VALUES (N'LSP2', N'CPU', NULL, 1)
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [GhiChu], [TrangThai]) VALUES (N'LSP3', N'Mainboard', NULL, 1)
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDT], [GhiChu], [TrangThai]) VALUES (N'NCC1', N'Phong Vũ', N'TP.HCM', N'012356877', N'', 1)
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDT], [GhiChu], [TrangThai]) VALUES (N'NCC2', N'Tân Thành Danh', N'179 Lê Văn Thọ, phường 09, quận Gò Vấp, Tp. HCM', N'0909 805 881', N'', 1)
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDT], [GhiChu], [TrangThai]) VALUES (N'NCC3', N'An Phát PC', N'Số 49 Thái Hà - Đống Đa - Hà Nội', N'09639025521', N'', 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [TenDangNhap], [MatKhau], [HinhDaiDien], [DiaChi], [CMND], [SoDT], [Email], [Quyen], [GhiChu], [TrangThai]) VALUES (N'NV1', N'BOSS', N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'data\images\users\admin.png', NULL, NULL, NULL, NULL, 1, NULL, 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [TenDangNhap], [MatKhau], [HinhDaiDien], [DiaChi], [CMND], [SoDT], [Email], [Quyen], [GhiChu], [TrangThai]) VALUES (N'NV2', N'sang', N'sang', N'e10adc3949ba59abbe56e057f20f883e', N'data\images\users\Cat.jpg', N'', N'', N'', N'', 0, N'', 1)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhaCungCap], [TongTien], [TienNo], [ChietKhau], [Thue], [NgayLap], [NhanVienLap], [GhiChu], [TinhTrang], [TrangThai]) VALUES (N'PN1', N'NCC4', CAST(248750000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, 0, CAST(N'2017-11-19' AS Date), N'NV1', N'', 1, 1)
INSERT [dbo].[PhieuXuat] ([MaPhieuXuat], [MaKhachHang], [TongTien], [ChietKhau], [Thue], [NgayLap], [NhanVienLap], [GhiChu], [Loai], [TrangThai]) VALUES (N'PX1', N'KH7', CAST(17000000 AS Decimal(18, 0)), 0, 0, CAST(N'2017-11-19' AS Date), N'NV1', N'', 1, 1)
INSERT [dbo].[PhieuXuat] ([MaPhieuXuat], [MaKhachHang], [TongTien], [ChietKhau], [Thue], [NgayLap], [NhanVienLap], [GhiChu], [Loai], [TrangThai]) VALUES (N'PX2', N'KH4', CAST(64000000 AS Decimal(18, 0)), 0, 0, CAST(N'2017-11-19' AS Date), N'NV1', N'', 1, 1)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Hinh], [GiaMua], [GiaBan], [KhuyenMai], [MoTa], [BaoHanh], [SoLuong], [DonViTinh], [MaLoaiSanPham], [MaHangSanXuat], [GhiChu], [TrangThai]) VALUES (N'SP2', N'CPU Intel Core i7-7820X (3.6GHz Upto 4.3Ghz/ 8C16T/ 11MB/ 2066-KabyLakeX)', N'data\images\products\24351_cpu_intel_core_i7_7820x__3_6ghz_upto_4_3ghz_8c16t_11mb_2066_kabylakex__1.png', CAST(16000000 AS Decimal(18, 0)), CAST(17000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'', 36, 4, N'Cái', N'LSP2', N'HSX2', N'', 1)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Hinh], [GiaMua], [GiaBan], [KhuyenMai], [MoTa], [BaoHanh], [SoLuong], [DonViTinh], [MaLoaiSanPham], [MaHangSanXuat], [GhiChu], [TrangThai]) VALUES (N'SP3', N'Mainboard GIGABYTE B250 GA-Gaming B8', N'data\images\products\24326_mainboard_gigabyte_b250_ga_gaming_b8_4.png', CAST(2500000 AS Decimal(18, 0)), CAST(2999000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'', 36, 5, N'Cái', N'LSP3', N'HSX3', N'', 1)
INSERT [dbo].[Serial] ([MaSerial], [SoSerial], [ThoiHanBaoHanh], [MaSanPham], [GhiChu], [MaPhieuXuat], [MaPhieuNhap], [TrangThai]) VALUES (N'SER1', N'1O4462W5749X', CAST(N'2020-11-19' AS Date), N'SP1', NULL, N'PX2', N'PN1', 1)
INSERT [dbo].[Serial] ([MaSerial], [SoSerial], [ThoiHanBaoHanh], [MaSanPham], [GhiChu], [MaPhieuXuat], [MaPhieuNhap], [TrangThai]) VALUES (N'SER10', N'GX7V2G00BWLW', CAST(N'2020-11-19' AS Date), N'SP2', NULL, N'PX1', N'PN1', 1)
INSERT [dbo].[Serial] ([MaSerial], [SoSerial], [ThoiHanBaoHanh], [MaSanPham], [GhiChu], [MaPhieuXuat], [MaPhieuNhap], [TrangThai]) VALUES (N'SER11', N'ABP2UKQJ5FNM', NULL, N'SP3', NULL, NULL, N'PN1', 1)
INSERT [dbo].[ThuChi] ([MaPhieu], [MaNhanVien], [NguoiNopNhan], [NoiDung], [SoTien], [GhiChu], [LoaiPhieu], [Ngay], [TrangThai]) VALUES (N'TH1', N'NV1', NULL, NULL, CAST(200000 AS Decimal(18, 0)), NULL, NULL, CAST(N'2017-11-18' AS Date), NULL)
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_KhachHang]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietBaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoHanh_BaoHanh] FOREIGN KEY([MaBaoHanh])
REFERENCES [dbo].[BaoHanh] ([MaBaoHanh])
GO
ALTER TABLE [dbo].[ChiTietBaoHanh] CHECK CONSTRAINT [FK_ChiTietBaoHanh_BaoHanh]
GO
ALTER TABLE [dbo].[ChiTietBaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoHanh_Serial] FOREIGN KEY([MaSerial])
REFERENCES [dbo].[Serial] ([MaSerial])
GO
ALTER TABLE [dbo].[ChiTietBaoHanh] CHECK CONSTRAINT [FK_ChiTietBaoHanh_Serial]
GO
ALTER TABLE [dbo].[ChiTietBaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoHanh_Serial1] FOREIGN KEY([MaSerial])
REFERENCES [dbo].[Serial] ([MaSerial])
GO
ALTER TABLE [dbo].[ChiTietBaoHanh] CHECK CONSTRAINT [FK_ChiTietBaoHanh_Serial1]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([NhanVienLap])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([NhanVienLap])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanXuat] FOREIGN KEY([MaHangSanXuat])
REFERENCES [dbo].[HangSanXuat] ([MaHangSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanXuat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[Serial]  WITH CHECK ADD  CONSTRAINT [FK_Serial_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[Serial] CHECK CONSTRAINT [FK_Serial_PhieuNhap]
GO
ALTER TABLE [dbo].[Serial]  WITH CHECK ADD  CONSTRAINT [FK_Serial_PhieuXuat] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[Serial] CHECK CONSTRAINT [FK_Serial_PhieuXuat]
GO
ALTER TABLE [dbo].[Serial]  WITH CHECK ADD  CONSTRAINT [FK_SoSeri_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[Serial] CHECK CONSTRAINT [FK_SoSeri_SanPham]
GO
ALTER TABLE [dbo].[ThuChi]  WITH CHECK ADD  CONSTRAINT [FK_ThuChi_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThuChi] CHECK CONSTRAINT [FK_ThuChi_NhanVien]
GO
USE [master]
GO
